.reportManageContainer {
    width: 100%;
    height: calc(100vh - 90px);
    padding: 50px;
    padding-top: 40px;
    min-width: 800px;
}

.reportManageTitle {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #4c4c4c;
}

.reportManageContent {
    border-radius: 12px;
    height: calc(100vh - 145px);
    min-height: 550px;
    width: 100%;
    background-color: white;
    position: relative;
}

.reportManageBar {
    border-radius: 12px;
    height: 60px;
    width: 100%;
    background-color: #2A3042;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

.reportTable {
    overflow-y: scroll;
    height: calc(100% - 41px);
}

.reportManageContent table {
    width: 100%;
    border-collapse: collapse;
}

.reportManageContent thead {
    width: 100%;
    position: sticky;
    top: 0;
    border-radius: 12px;
    height: 60px;
    z-index: 1;
    color: white;
}

.reportManageContent thead tr {
    background-color: transparent;
}

.reportManageContent tbody tr {
    color: #4c4c4c;
    text-align: center;
    height: 50px;
    border-bottom: #E1E0E2 solid 1px;
}

.reportManagePaging {
    position: relative;
    bottom: 0;
    height: 40px;
}