.loginContainer {
    width: 100vw;
    background-color: rgba(220, 235, 255, 0.6);
}
.loginPage{
    width: 500px;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
}
.loginPage img{
    margin-top: 10%;
    width: 200px;
    height: 200px;
}
.loginPage h2{
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
}
.loginForm{
    width: 80%;
    margin: 0 auto;
    min-width: 400px;
}
input{
    margin-left: 0;
    width: 350px;
    height: 60px;
    border: 1px solid #e8e9ea;
    padding: 0 10px;
    margin-bottom: 16px;
    background-color: #F7F8F9;
    border-radius: 10px;
}
.submitBtn{
    width: 350px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
    background-color: #AACCF9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.loginForm img{
    position: absolute;
    margin: 15px -40px;
    background-color: transparent;
    width: 25px;
    height: 25px;
}
.input::placeholder{
    color: #D2D2D2;
}