.withdrawUserManageContainer {
    width: 100%;
    height: calc(100vh - 90px);
    padding: 50px;
    padding-top: 40px;
    min-width: 800px;
}

.withdrawUserManageTitle {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #4c4c4c;
}

.withdrawUserManageContent {
    border-radius: 12px;
    height: calc(100vh - 145px);
    min-height: 550px;
    width: 100%;
    background-color: white;
    position: relative;
}

.withdrawUserManageBar {
    border-radius: 12px;
    height: 60px;
    width: 100%;
    background-color: #2A3042;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

.withdrawUserManageTable {
    overflow-y: scroll;
    height: calc(100% - 41px);
}

.withdrawUserManageContent table {
    width: 100%;
}

.withdrawUserManageContent thead {
    width: 100%;
    position: sticky;
    top: 0;
    border-radius: 12px;
    height: 60px;
    z-index: 1;
}

.withdrawUserManageContent thead tr {
    background-color: transparent;
}

.withdrawUserManageContent tbody tr {
    color: #4c4c4c;
    text-align: center;
    height: 50px;
}

.withdrawUserManagePaging {
    position: relative;
    bottom: 0;
    height: 40px;
}