.content {
    border-radius: 0 0 0.75em 0.75em;
    height: calc(100vh - 180px);
    width: 100%;
    background-color: #fffcfc;
    min-width: 800px;
    min-height: 600px;
    border-collapse: collapse;
    position: relative;
    overflow-y: scroll;
}
thead tr{
  height: 60px;
  width: 100%;
  background-color: #2A3042;
  border-spacing: 0px;
  color:white;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th:first-child {
  border-top-left-radius: 0.75em;
}
th:last-child {
  border-top-right-radius: 0.75em;
}