.foodLi {
    display: inline-block;
    background-color: #AACCF9;
    text-align: center;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    border-radius: 15px;
    padding: 8px 15px;
    margin-right: 10px;
    margin-top: 10px;
}