.sidebar{
    width: 250px;
    height: 100%;
    position: relative;
    background-color: white;
}

.sidebarTitle{
    color: #666666;
}

.logo{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.sidebarList{
    list-style: none;
    margin-top: 50px;
    padding: 0px;
    width: 250px;
}

.sidebarListItem{
    padding: 5px 30px;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #717171;
    font-size: 24px;
    border-left: 5px solid white;
}

.menuIcon{
    margin-right: 10px;
}

.toggleIcon{
    margin-left: 10px;
}

.sidebarListItem.active a,
.sidebarListItem:hover a{
    color: #A3C7F7;
}

.sidebarListItem.active{
    border-left: 5px solid #A3C7F7;
}

.show-menu {
    list-style: none;
    padding-left: 4px;
    cursor: pointer;
    position: relative;
    left: 30px;
}

.hide-menu {
    display: none;
}

.show-menu li.sidebarListItem.active{
    border-left: 5px solid white !important;
}

.logoutMenu{
    color: #A65959;
    padding: 30px;
    margin-top: 8.5px;
    margin-left: 6px;
    cursor: pointer;
    display: flex;
    position: absolute;
    bottom: 50px;
    align-items: center;
    font-size: 24px;
}

a{
    color: #717171;
    text-align: center;
    display: flex;
    align-items: center;
}