.foodManageContainer {
    width: 100%;
    height: calc(100vh - 90px);
    padding: 50px;
    padding-top: 40px;
    min-width: 800px;

}

.foodManageTitle {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #4c4c4c;
}

.foodManageContent {
    border-radius: 12px;
    height: calc(100vh - 145px);
    min-height: 550px;
    width: 100%;
    background-color: white;
    position: relative;

}

.foodManageBar {
    border-radius: 12px;
    height: 60px;
    width: 100%;
    background-color: #2A3042;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

.foodManageTable {
    overflow-y: scroll;
    height: calc(100% - 41px);
}

.foodManageTable table {
    width: 100%;
}

.foodManageTable thead {
    width: 100%;
    position: sticky;
    top: 0;
    border-radius: 12px;
    height: 60px;
    z-index: 2;
}

.foodManageTable thead tr {
    background-color: transparent;
}

.foodManageTable tbody tr {
    color: #4c4c4c;
    text-align: center;
    height: 50px;
}

.foodManagePaging {
    position: relative;
    bottom: 0;
    height: 40px;
}

.foodDeleteBtn {
    right: 3%;
    top: -50%;
    position: absolute;
    cursor: pointer;
    width: 110px;
    height: 40px;
    padding-left: 30px;
    background-color: #DCEBFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    border: none;
    color: black;
}

.foodDeleteIcon {
    margin-top: -4px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    width: 25px;
    height: 25px;
}

.foodManageTable input {
    margin-left: 20px;
}