.emailManageContainer {
    width: 100%;
    height: calc(100vh - 90px);
    padding: 50px;
    padding-top: 40px;
    min-width: 800px;
    position: relative;
}

.userManageTitle {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #4c4c4c;
}

.emailManageContent {
    border-radius: 12px;
    height: calc(100vh - 145px);
    min-height: 550px;
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userManageBar {
    border-radius: 12px;
    height: 60px;
    width: 100%;
    background-color: #2A3042;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

.userManageTable {
    height: calc(100% - 41px);
    border-collapse: collapse;
}

.userManageContent table {
    width: 100%;
    border-collapse: collapse;
}

.userManageContent thead {
    width: 100%;
    position: sticky;
    top: 0;
    border-radius: 12px;
    height: 60px;
    z-index: 1;
    color: white;
}

.userManageContent thead tr {
    background-color: transparent;
}

.userManageContent tbody tr {
    color: #4c4c4c;
    text-align: center;
    height: 50px;
    border-bottom: #E1E0E2 solid 1px;
}

.userManagePaging {
    position: relative;
    bottom: 0;
    height: 40px;
}

.emailTitleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    height: 100px;
    width: calc(100% - 100px);
}

.emailTitle {
    height: 40px;
    flex: 1;
    font-size: 20px;
    border: 1px solid #E6E6E6;
    background-color: #FAFAFA;
    padding-left: 15px; 
    border-radius: 5px;
}
.emailTitle::placeholder {
    font-size: 15px;
  }

.emailTitleName {
    margin-right: 40px;
    font-size: 20px;
}

.emailContent {
    margin-top: 170px;       
    resize: none;
    box-sizing: border-box;
    width: calc(100% - 100px);
    position: relative;
    height: calc(100% - 250px);
    border: 1px solid #E6E6E6;
    background-color: #FAFAFA;
    border-radius: 5px;
  }

.sendEmailBtn {
    cursor: pointer;
    background-color: #DCEBFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    border: none;
    color: black;
    width: 90px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 50px;
    padding: 0;
    padding-left: 15px;
}

.sendEmailIcon {
    left: 10px;
    position: absolute;
    background-color: transparent;
    width: 15px;
    height: auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
